<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Opportunity Zones</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
   <!--D3 cdn-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
 <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  

 

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

</head>


<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>   
      </button>
      <!-- <a class="navbar-brand" href="#"><img alt="logo" src="https://github.com/andrewswellie/ProjectTwo_Opportunity-Zones-Investment-App/blob/master/logo.png?raw=true"/></a> -->
      <a class="btn btn-primary" href="https://www.irs.gov/newsroom/opportunity-zones-frequently-asked-questions" role="button">What Are Opportunity Zones?</a>
      <a class="btn btn-primary" href="https://cwru-opportunity-zones-tool.herokuapp.com/api/v1.0" role="button">View our API</a>    
    </div>
 
  </div>
</nav>



    <!-- Left and right controls -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Opportunity Zones Comparison Tool</h1>
          <p class="lead">Click on an Opportunity Zone in the map below to start your search on where to invest next!</p>
          <!-- <a class="btn btn-primary" href="https://cwru-opportunity-zones-tool.herokuapp.com/api/v1.0" role="button">View our API</a> -->
          <div id="thisid"></div>
        </div>
</div>


  
<div class="container text-center">    
  <!-- <h3>Select a Highlighted Zone for Comparison Data</h3><br> -->
  <div class="row">
    <div class="col-sm-12">
        <div id="map" style="width: 1170px; height: 480px"></div>   
      
     <br>
    </div>
    <div class="col-sm-12">
      <div id= "graph" class="well" style="width: 1170px; height: 560px">
       <p>This is where we will append our SVG for the Graph</p>
      </div>
      <!-- <div class="well" style="width: 1170px">
       <p>Zone Grade</p>
      </div> -->
    </div>
  </div>
</div>
<br>

<div class="card-footer text-center">
  <p>Case Western Reserve University - Data Bootcamp Project 2 - Team 2</p>
</div>
<!-- API key -->
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}"> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
</body>
</html>