<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Opportunity Zones</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>


<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>                     
      </button>
      <a class="navbar-brand" href="#"><img alt="logo" src="logo.png"/></a>
    </div>
 
  </div>
</nav>



    <!-- Left and right controls -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Opportunity Zones Investment Tool</h1>
          <p class="lead">Find the right opportunity for your next investment.</p>
          <a class="btn btn-primary" href="https://cwru-opportunity-zones-tool.herokuapp.com/api/v1.0" role="button">Visit our API</a>
          <div id="thisid"></div>
        </div>
</div>


  
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-8">
        <div id="map" style="width: 650px; height: 450px"></div>   
      
      <p>Some text</p>
    </div>
    <div class="col-sm-4">
      <div id= "graph" class="well" style="width: 450px; height: 250px">
       <p>Graph</p>
      </div>
      <div class="well" style="width: 450px">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
<!-- API key -->
<script type="text/javascript" src="static/js/config.js"></script>
<!-- Our JS -->
<script type="text/javascript" src="static/js/logic.js"></script>
</body>
</html>