<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Opportunity Zones</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 

  <!-- Leaflet CSS & JS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>


   <!--D3 cdn-->

 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
 <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/d3.5.min.js') }}"></script> -->
  

 

  <!-- Our CSS for media queries -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  
</head>


<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>   
      </button> -->
      <a class="navbar-brand" href="https://github.com/andrewswellie/ProjectTwo_Opportunity-Zones-Investment-App"><img alt="logo" src="https://github.com/andrewswellie/ProjectTwo_Opportunity-Zones-Investment-App/blob/master/logo.png?raw=true"/></a>
      <a class="btn btn-secondary" href="https://www.irs.gov/newsroom/opportunity-zones-frequently-asked-questions" role="button">What Are Opportunity Zones?</a>
      <a class="btn btn-secondary" href="https://cwru-opportunity-zones-tool.herokuapp.com/api/v1.0" role="button">View our API</a>    
    </div>
 
  </div>
</nav>



    <!-- Left and right controls -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Opportunity Zones Comparison Tool</h1>
          <p class="lead">Click on any highlighted zone in the map below to start your search on where to invest next!</p>
          <!-- <a class="btn btn-primary" href="https://cwru-opportunity-zones-tool.herokuapp.com/api/v1.0" role="button">View our API</a> -->
          <div id="thisid"></div>
        </div>
</div>


  
<div class="container text-center">    
  <!-- <h3>Select a Highlighted Zone for Comparison Data</h3><br> -->
  <div class="row">
    <div class="col-sm-12">
        <div id="map" style="width: 1170px; height: 480px"></div>   
      
     <br>
    </div>
    <br>
    <div class="well">
      <h5>Select a Metric to Compare Zones:</h5>
      <select id="selDataset" onchange="buildCharts(this.value)">
        <option value="income">Median Household Income</option>
        <option value="median_home">Median Home Value</option>
        <option value="home_change">Change in Home Value</option>
        <option value="population">Population</option>
        <option value="pop_change">Change in Population</option>
        <option value="poverty">Poverty Rate</option>
        <option value="unemployment">Unemployment Rate</option>
        <option value="crime">Crime Rate</option>
        <option value="eduation">Education</option>
      </select>
    </div>
    <br><br>
    <div class="col-sm-12">
      <br><div id= "graph" class="well" style="width: 1170px; height: 710px"></div>
      <!-- <div class="well" style="width: 1170px">
       <p>Zone Grade</p>
      </div> -->
    </div>
  </div>
</div>
<br>

<div class="card-footer text-center">
  <p>Case Western Reserve University - Data Bootcamp Project 2 - Team 2</p>
</div>
<!-- API key -->
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}"> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/logic4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/d3.5.min.js') }}"></script> -->
</body>
</html>